.card2-box1 {
  background-color: black;
  color: white;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  height: 80vh;
  
}
.card2-para {
  margin-top: 2rem;
  font-size: 1.3rem;
}
.card2-text {
  /* margin: 4rem; */
  border-left: 2px solid rgb(65, 64, 64);
  padding: 2rem;
}
.card2-box2 {
  position: absolute;
  right: 5rem;
  top: 3.5rem;
}
.card2 {
  position: relative;
  background-color: rgb(60, 174, 240);
}

.card2images {
  width: 53rem;
}
