.aboutsection{
  padding:4rem 6rem;  

}
.about-para{
    text-align:left;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
}
.bttn{
    height:3rem;
    width:12.4rem;
  
   
    background-color: black;
    color:#ffff;

}
.bttn:hover{

    background-color:white;
    color: black;
    border: 1px solid black;
    transition: all 1s ease-in;
    -webkit-transition:all 1s ease-in ;
}
.about-padding{
  padding: 3rem;
}
