.footer-links{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
   
}
.footer-links ul{
    list-style: none;
}
.footer-links ul a{
    text-decoration: none;
    color: black;

}
.textlink{
    font-family:"Gilroy-regular",sans-serif;
    font-size:25px;
}
.textbtn{
    font-family:"Gilroy-regular",sans-serif;
    font-size:25px;
    font-weight: 700;
    background-color: rgb(230, 227, 227);
}
.ftrbtn{
    background-color: transparent;
}
.footer-content{
    background-color: black;
    color: #ffff;
}
.home{
    color: #ffff;
}
.logosmall{
    height: auto;
    width: 12rem;
}
.paracopyright{
    font-size:15px;
}
.paracopyright1{
    font-size: 15px;
}
.horizontal-line{
    width:30rem;
}