.googlecontainer {
  margin-top: 4rem;
}
.buttn1 {
  height: 3rem;
  width: 15rem;
  background-color: rgb(71, 67, 67);
  color: white;
}
.buttn2 {
  height: 3rem;
  width: 15rem;
  background-color: rgb(141, 137, 137);
  color: white;
}
.mapdata {
  padding: 3.5rem;
}
.queries {
  text-align: center;
  font-family: "Gilroy-Bold", sans-serif;
  padding-top: 1rem;
  color: #ffff;
}
.form-container {
  background-color: rgb(29, 28, 28);
}
.input-form {
  height:auto;
 width:100%;
 
 -webkit-box-shadow:1px 1px 1px rgb(236, 231, 231);
  box-shadow: 1px 1px 1px rgb(236, 231, 231);
  cursor: pointer;
}
.input-form:focus {
  outline: rgb(243, 241, 241);
}
.form {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 2rem;
}
.text-area {
 
  box-shadow: 1px 1px 1px rgb(236, 231, 231);
  cursor: help;
}
.text-area:focus {
  outline: rgb(243, 241, 241);
}
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: teal;
}

.btnsubmit{
    margin-top:2rem;
    border: 2px solid white;
    background-color: transparent;
}

.arrow{
    padding-left: 2rem;
    height:5rem;
}
.address-text{
  line-height: 3rem;
}