.logo{
    font-family:"Gilroy-HeavyItalic";
    font-size:55px;
    
    text-shadow: 1px 1px 1px black;

    color:teal;
}
.search-icon{
    position: absolute;
    right: 12px;
    color: darkgray;
    cursor: pointer;

}
.search-input{
 border:none;
 outline: none;
 
}
.search-container{
    position: relative;
}
.nav-link{
    text-decoration: none;
    color:rgb(235, 240, 240);
}
.nav-link:hover{
    color:teal;
}
.navbar-collapse{
  font-size: 20px;
    justify-content:end;
    font-family: "Gilroy-Bold",sans-serif!important;
     text-shadow: 1px 1px 1px #000000;;

}